<div id="<%= dom_id post %>">
  <h3>Posted by <%= post.user.email %> </h3>
  <h4> <%= post.title %></h4>
  <div>
    <%= post.body %>
  </div>

  <h6> <%= pluralize(post.views, "view") %> </h6>

</div>
<style>
  h6{
    color: lightgreen;
  }
</style>
